<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/log.txt</file>
        <!--        дописывать в файл с логами или нет-->
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


   
    <logger name="com.katkov.core.service" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>


    <!--    пишет в консоль все для чего стоит инфо-->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>